# Environment
backend/.env
backend/.env.*

# Dependencies
**/node_modules/

# Build
**/dist/
**/build/

# Logs
*.log
logs/

# Uploads
backend/uploads/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.idea/

